[alias]
	st = status
	br = branch
	co = checkout
	diff = git diff --word-diff
[color]
	ui = auto
[gui]
	encoding = utf-8
[ghq]
	root = ~/src
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs -nw
	autocrlf = input
[difftool]
	prompt = false

