[alias]
    st = status
    br = branch
    co = checkout
    diff = git diff --word-diff
    cm = commit -m
    gr = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    log = log --name-status
[user]
    name = Yuki Sato
    email = yukisato.d@gmail.com
[color]
    ui = auto
[gui]
    encoding = utf-8
